*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#foodItem{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card{
  width: 100%;
  border: 0px !important;
  box-shadow: 3px 5px 10px gainsboro;
}
